server {
	listen 80;
	server_name ${DOMAIN};

	location /static {
		alias /opt/app/static;
	}

	location / {
		proxy_pass http://app:8000;
		proxy_set_header Host ${DOLLAR}host;
	}
}

server {
	listen 80 default_server;
	server_name _;
	return 444;
}
